/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 * 
 * For some reason, if I delete the following style rules 
 * 
 * The text for <TextControl /> will not be styled.
 * 
 * 
 */

.wp-block-create-block-gutenpride input[type="text"] {
	font-family: Gilbert, sans-serif;
	font-size: 64px;
	color: inherit;
	background: inherit;
	border: 0;
}
